#home {
    text-align: left;
}

#home p {
    text-indent: 10vh;
    font-size: 24px;
    line-height: 6vh;

    margin-left: 5vh;
    margin-right: 5vh;

    padding-top: 5vh;
    padding-bottom: 5vh;
}